body {
	font-family: Arial, sans-serif;
	text-align: center;
	margin-top: 50px;
}
#cards-container {
	margin-top: 20px;
}
.card {
	display: inline-block;
	margin: 10px;
}
.card img {
	width: 100px;
}
